@charset "utf-8";

body{
    font-family: 'pretendard',sans-serif;
    line-height: 1.5;
    color: #000;
}

.inner{
    margin: 0 auto;
    width: 1200px;
}

#wrap{
    background: url(../images/mv_01.jpg) no-repeat center 0;   
}

/* header */
#header .inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#header .gnb{
    display: flex;
}

#header h1 img{
    display: block;
    text-align: center;
}

#header .gnb > li{
    width: calc(100% / 5);
}

#header .gnb > li > a{
    display: block;
    font-size: 20px;
    padding: 30px 50px;
    color: #fff;
}

/* 2차메뉴 */
#header .gnb >li{
    position: relative;
}

#header .gnb >li .depth2{
    display: n;
    border-radius: 0 0 30px 0;
    transition: all 0.6s;
    position: absolute;
    background: #000;
    width: 100%;
    padding: 20px;
    z-index: 2;
    border-top: solid 1px solid rgba(255,255,255,0.5);
}

#header .gnb >li .depth2 li a{
    color: #fff;
    padding: 3px 0;
    display: block;
    transition: all 0.5s;
}

#header .gnb >li:hover .depth2{
    display: block;
}

#header .gnb >li:hover a{
    background: #000;
}


#header .gnb >li .depth2 li a:hover{
    background: url(../images/depth2_bg.png) no-repeat 0 center;
    padding: 3px 0 3px 20px;
}



/* main */

@keyframes vt1{
    0%,10% {opacity: 0; transform: translate(0,100px);}/* 0%`5% delay */
    20%,100% {opacity: 1; transform: translate(0,0);}/* 유지 */
}

@keyframes vt2{
    0%,5% {opacity: 0; transform: translate(0,100px);}/* 0%`5% delay */
    0%,15% {opacity: 0; transform: translate(0,100px);}/* 0%`5% delay */
    40%,100% {opacity: 1; transform: translate(0,0);}/* 유지 */
}

@keyframes vt3{
    0%,5% {opacity: 0; transform: translate(0,100px);}/* 0%`5% delay */
    0%,25% {opacity: 0; transform: translate(0,100px);}/* 0%`5% delay */
    40%,100% {opacity: 1; transform: translate(0,0);}/* 유지 */
}

#main .main_visual{
    padding: 280px 0 200px;
/*     background: url(../images/mv_01.jpg) no-repeat center 0;    */ 
}

#main .main_visual img{
    animation: vt1 6s;
}

#main .main_visual h2{
    font-family: 'TheJamsil';
    color: #fff;
    font-size: 85px;
    padding: 70px 0 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    font-weight: 400;
    text-align: left;
    animation: vt2 6s;
}

#main .main_visual p{
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    animation: vt3 6s;
}

/* count */
#count{
    background-image: linear-gradient(to right, #4863bd,#9451e4);
    padding: 80px 0;
}

#count .count_list{
    color: #fff;
    display: flex;
    width: 1200px;
}

#count .count_list li{
    width: calc(100% / 4);
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.5);
    padding: 0 80px;
}

#count .count_list li:nth-child(1){
    background: url(../images/count_ico_01.png) no-repeat center top;
}

#count .count_list li:nth-child(2){
    background: url(../images/count_ico_02.png) no-repeat center top;
}

#count .count_list li:nth-child(3){
    background: url(../images/count_ico_03.png) no-repeat center top;
}

#count .count_list li:nth-child(4){
    background: url(../images/count_ico_04.png) no-repeat center top;
}

#count .count_list li{
    padding: 30px 0;
    border-right: 1px solid rgba(255,255,255,0.3);
}

#count .count_list dt{
    padding-top: 20px;
    color: rgba(255,255,255,0.7);
}

#count .count_list dd{
    font-size: 25px;
    font-weight: 700;
}

#count .count_list dl{
    margin-top: 30px;
}

/* biz */
#biz .biz_style{
    display: flex;
    justify-content: space-between;
    padding: 200px 0;
}

.biz_tit h2{
    font-size: 50px;
    font-family: 'TheJamsil';
    font-weight: 300;
}

.biz_tit p{
    color: #999;
    font-size: 18px;
    padding: 15px 0 70px;
}

/* 
#biz .biz_img {
    overflow: hidden;
}

#biz .biz_img img{
    transition: all 0.5s;
}

#biz .biz_img:hover img{
    transform: scale(1.2 1.2);
} */

.biz_list li{
    text-align: left;
    padding: 15px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    transition: all 0.6s;
}

.biz_list li:hover{
    border-bottom: 1px solid #000;
}

#biz .inner{
    position: relative;
}

.biz_txt{
    background: #2d4478;
    color: #fff;
    padding: 50px 40px;
    width: 350px;
    position: absolute;
    top: 470px;
    left: 400px;
}


.biz_txt dl dt{
    font-weight: 700;
    font-size: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    padding-bottom: 25px;
}

.biz_txt dl dd{
    color: rgba(255,255,255,0.6);
    padding: 20px 0;
}

.biz_txt a{
    padding-right: 50px;
    display: inline-block;
    color: rgba(255,255,255,0.7);
    background: url(../images/detail_arrow.png) no-repeat right center;
    text-transform: uppercase;
    font-style: italic;
}

#alret{
    background: url(../images/notice_bg.jpg) no-repeat;
    padding: 170px 0;
}

#alret h2{
    font-family: 'TheJamsil';
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

#alret ul{
    display: flex;
    gap: 30px;
    padding: 30px 0;
    
}

#alret ul li{
    background: #fff;
    width: calc((100% - 60px / 3));
    padding: 50px 40px;
    position: relative;
}

#alret dl dt{
    font-size: 20px;
    border-bottom: dashed 1px #ddd;
    padding-bottom: 15px;

}

#alret dl dd:nth-of-type(1){
    color: #999;
    padding: 15px 0;
    height: 120px;
}

#alret dl .data {
    margin-top: 20px;
    color: #999;
    background: url(../images/more.png) no-repeat right center;
}

#alret .alret_txt a .line{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border: 0 solid #ff8400;
} 

#alret .alret_txt li:hover a .line{
    border: solid 10px #ff8400;
}



/* footer */
#footer{
    background: #333;
    padding: 100px 0;
}

#footer .footer_logo img{
    display: block;
    opacity: 0.5;
}

#footer .inner{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

#footer .footer_txt{
    margin-right: auto;
    padding-left: 80px;
    color: rgba(255,255,255,0.5);
}

#footer .footer_txt span{
    color: #d0dc41;
}
#footer .sns{
    display: flex;
    gap: 20px;
}
